<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista 1</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><strong>Esta es incleible pagina del nada</strong></li>
            </ul>
        </nav>
    </header>
    
<main>
        <h1>Bienvenidos a la pagina de....</h1>
        <p>Esta es la prueba de la vista 1</p>
    </main>

    <br>
    <footer>
        <hr>
        <p>&copy; 2026 - Proyecto Django Evaluación 1</p>
    </footer>
</body>
</html>